[Install]
WantedBy=multi-user.target

[Unit]
Description=E8372H LTE signal monitoring
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
ExecStart=/home/pi/e8372h_service.sh

